body {
  font-size: 80%;
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

#tab {
    list-style-type: none;
    margin: 30px 0 0 0;
    padding: 0 0 0.3em 0;
}

li {
    display: inline;

}

li a {
  color: #6497b1;
  background-color: #13455e;
  border: 1px solid #256685;
  border-bottom: none;
  padding: 0.3em;
  text-decoration: none;
}

li a:hover {
  background-color: #6497b1;
}

.active {
  color: #000;
  background-color: #6497b1;
  font-weight: bold;
  padding: 0.7em 0.3em 0.38em 0.3em;
}

#content {
  border: 1px solid #256685;
  padding: 0.5em;
  background-color: #6497b1;
}

img {
  width: 300px;
  height: 300px;
}
